[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
# internal
visualizer = { path = "crates/visualizer" }
simulator = { path = "crates/simulator" }
flight_controller = { path = "crates/flight_controller" }

# external
nalgebra = "0.33.0"
toml = "0.8.19"
