[package]
name = "quad"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { version = "0.14.2", features = ["dynamic_linking"] }
bevy_asset_loader = "0.21.0"
bevy_egui = "0.29.0"
bevy_infinite_grid = "0.13.0"
bevy_panorbit_camera = "0.19.3"
itertools = "0.13.0"
noise = "0.9.0"
rand = "0.8.5"

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[features]
default = []
legacy_sim = []
