[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
# internal
visualizer = { path = "crates/visualizer" }
simulator = { path = "crates/simulator" }
flight_controller = { path = "crates/flight_controller" }

# external
itertools = "0.13.0"
noise = "0.9.0"
rand = "0.8.5"
rand_xoshiro = "0.6.0"
libm = "0.2.8"
fast-math = "0.1.1"
fastapprox = "0.3.1"
nalgebra = "0.33.0"
bindgen = "0.70.1"
pyo3 = "0.22.6"
pyo3-log = "0.11.0"
toml = "0.8.19"
