[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
# internal
quad_bevy = { path = "crates/quad_bevy" }
quad_sim = { path = "crates/quad_sim" }
flight_controller = { path = "crates/flight_controller" }

# external
bevy = { version = "0.14.2", features = ["dynamic_linking"] }
bevy_asset_loader = "0.21.0"
bevy_egui = "0.30.0"
bevy_infinite_grid = "0.13.0"
bevy_panorbit_camera = "0.19.3"
egui_extras = "0.29.1"
itertools = "0.13.0"
noise = "0.9.0"
rand = "0.8.5"
rand_xoshiro = "0.6.0"
libm = "0.2.8"
fast-math = "0.1.1"
fastapprox = "0.3.1"
nalgebra = "0.33.0"
bindgen = "0.70.1"
pyo3 = "0.22.6"
pyo3-log = "0.11.0"
