[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
# internal
visualizer = { path = "crates/visualizer" }
simulator = { path = "crates/simulator" }
flight_controller = { path = "crates/flight_controller" }

# external
nalgebra = "0.33.0"
toml = "0.8.19"
csv = "1.3.1"
serde = {version = "1.0.215", features = ["derive"] } 

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

[profile.release]
debug = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3
